/* Khi code -> code css ở folder tailwind, khi sử dụng thì sử dụng tại folder css */
:root {
    --primary-pink: #ED145B;
    --primary-cyan: #1CBBB4;
    --primary-green: #73BE48;
    --primary-orange: #F7941E;
    --primary-p: #686868;
    --primary-bgc: #FFF0E5;
    --primary-border: #E5E7EB;
}

* {
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: auto;
}

@import "tailwindcss";
@config "../../tailwind.config.js";
/* Config tailwind để custom cấu hình */